<h2>Paises</h2>
<hr>

<ul class="list-group">
  <button
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    class="list-group-item"
    >
    Home page
  </button>
  <button
    routerLink="about"
    class="list-group-item"
    routerLinkActive="active">
    About page
  </button>
  <button
    routerLink="contact"
    class="list-group-item"
    routerLinkActive="active">
    Contact page
  </button>
  <button
    routerLink="countries/by-capital"
    class="list-group-item"
    routerLinkActive="active">
    By capital
  </button>
  <button
    routerLink="countries/by-country"
    class="list-group-item"
    routerLinkActive="active">
    By country
  </button>
  <button
    routerLink="countries/by-region"
    class="list-group-item"
    routerLinkActive="active">
    By region
  </button>

</ul>
