<h2>Por region</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <button
      *ngFor="let region of regions"
      (click)="searchByRegion(region)"
      class="col text-center btn mx-2"
      [ngClass]="selectedRegion===region
        ?'btn-primary'
        :'btn-light'">
        {{region}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
